@font-face {
  font-family: "jeju gothic";
  src: url("font/제주고딕\(윈도우\).ttf");
}
body{
  font: 20px "Montserrat", sans-serif;
  line-height: 1.8;
}
p{
  font-size: 16px;
}
.margin {margin-bottom: 45px;}

.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #012030;
}
.navbar-nav li a, .navbar-brand{color: #bbb !important;}
.navbar-nav li a:hover, .navbar-brand:hover{color: #111 !important;}

.bg-1{background-color: #f2f2f2;
  color: #aaa;
}
.bg-2{background-color: #aaa;
  color: #fff;
}
.bg-3{background-color: #f2f2f2;
  color: #111;
}
.bg-4{background-color: #ccc;
  color: #fff;
}
.bg-5{background-color: #aaa;
  color: #fff;
}
.container-fluid{
  padding-top: 70px;
  padding-bottom: 70px;
}
.container-fluid h3{ font-family: "jeju gothic"; 
 
}
.img-circle{
  width: 350px;
  height: 350px;
}

/* 이미지에 호버하면 테두리가 생기도록 만든다 */
#portfolio .col-sm-4 a img{
  transition: all 0.2s ease;
  opacity: 70%;
}
#portfolio .col-sm-4 a img:hover{
  border: 4px solid #012030;
  opacity: 100%;
}
#portfolio h4{
  margin-bottom: 50px;
}



/* 그리드 레이아웃을 사용 할 때 적은 단위값 sm과 맞는 값을 사용해야 한다 */
@media screen and (max-width:767px){
  #portfolio p{margin-top: 30px;}
}


button {
  margin: 20px;
  outline: none;
  text-decoration: none;
  color: #fff;
}
.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-3 {
  line-height: 39px;
  padding: 0;
}
.btn-3:hover{
  background: transparent;
  color: #111;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #111;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #111;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}