/* @font-face {
  font-family: "jeju gothic";
  src: url("font/제주고딕\(윈도우\).ttf");
} */
body{
  font: 20px "Montserrat", sans-serif;
  line-height: 1.8;
}
p{
  font-size: 16px;
}
.margin {margin-bottom: 45px;}

.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #000957;
}
.navbar-nav li a, .navbar-brand{color: #bbb !important;}
.navbar-nav li a:hover, .navbar-brand:hover{color: #FFF2AF !important;}

.bg-1{background-color: #FFFDF0;
  color: #111;
}
.bg-2{background-color: #FFF2AF;
  color: #111;
}
.bg-3{background-color: #FFFDF0;
  color: #111;
}
.bg-4{background-color: #FFF2AF;
  color: #000957;
}
.container-fluid{
  padding-top: 70px;
  padding-bottom: 70px;
}
.container-fluid h3{ font-family: "jeju gothic"; 
 
}
.img-circle{
  width: 350px;
  height: 350px;
}

/* 이미지에 호버하면 테두리가 생기도록 만든다 */
#portfolio .col-sm-4 a img{
  transition: all 0.2s ease;
  opacity: 70%;
}
#portfolio .col-sm-4 a img:hover{
  border: 4px solid #000957;
  opacity: 100%;
}
#portfolio h4{
  margin-bottom: 50px;
}



/* 그리드 레이아웃을 사용 할 때 적은 단위값 sm과 맞는 값을 사용해야 한다 */
@media screen and (max-width:767px){
  #portfolio p{margin-top: 30px;}
}



.mode-dark .bg-1{background-color: #1A1A2E;
  color: #ddd;
}
.mode-dark .bg-2{background-color: #577BC1;
  color: #ddd;
}
.mode-dark .bg-3{background-color: #1A1A2E;
  color: #ddd;
}
.mode-dark .bg-4{background-color: #577BC1;
  color: #ddd;
}
